:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #fafafa;
  --secondary-foreground: #18181b;
  --muted: #a1a1aa;
  --muted-foreground: #e4e4e7;
  --accent: #fafafa;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #d4d4d8;
  --input: #ffffff;
  --ring: #18181b;

  --button-background: #27272a;
  --button-border: rgba(255, 255, 255, 0.1);
  --button-text: #fafaf5;

  --zinc-50: #fafafa;
  --zinc-100: #e4e4e7;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --neutral-50: #ffffff;
  --neutral-900: #000000;

  --demo: #e9c64a;
  --pantomF: #ac4bfb;
  --projectX: #18b6aa;
  --excrin: #ea4335;
}

.dark-theme {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #ffffff;
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --secondary: #18181b;
  --secondary-foreground: #fafafa;
  --muted: #71717a;
  --muted-foreground: #3f3f46;
  --accent: #18181b;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #52525b;
  --input: #09090b;
  --ring: #d4d4d8;

  --button-background: #27272a;
  --button-border: rgba(255, 255, 255, 0.1);
  --button-text: #fafaf5;

  --zinc-50: #18181b;
  --zinc-100: #27272a;
  --zinc-200: #3f3f46;
  --zinc-300: #52525b;
  --zinc-400: #71717a;
  --zinc-500: #a1a1aa;
  --zinc-600: #d4d4d8;
  --zinc-700: #e4e4e7;
  --zinc-800: #f4f4f5;
  --zinc-900: #fafafa;
  --neutral-50: #000000;
  --neutral-900: #ffffff;

  --demo: #e9c64a;
  --pantomF: #ac4bfb;
  --projectX: #18b6aa;
  --excrin: #ea4335;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
/*SVG icon */
.svg-icon-header path,
.svg-icon path {
  stroke: var(--foreground);
}
.search-svg-icon path {
  stroke: var(--zinc-400);
}
.popup-svg-icon path,
.artboard-copy-icon path {
  stroke: var(--zinc-500);
}
.dashboard-svg-icon path {
  stroke: var(--zinc-500);
}
.upgrade-svg-icon path {
  stroke: var(--neutral-50);
  fill: var(--neutral-50);
}
input {
  border: none;
  background: var(--input);
  color: var(--card-foreground);
  width: 100%;
}
input:focus {
  outline: none;
}
/* Header */
.header {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  height: 70px;
}
.header__theme-help {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-theme {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-help {
  display: flex;
  align-items: center;
  gap: 8px;
}
.help-text {
  color: var(--foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: "League Spartan";
}
.header-inputfield {
  width: 29%;
  display: flex;
  border-radius: 8px;
  background: var(--zinc-100);
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.header-inputfield input {
  flex: 1 0 0;
  color: var(--zinc-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: var(--zinc-100);
}
.header-userinitial {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9.286px 0px 8.714px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8.571px;
  background: var(--zinc-700);
  color: var(--zinc-50);
  text-align: center;
  font-size: 17.143px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.429px;
  text-transform: uppercase;
}
/*Login*/
.outer-container {
  background-color: var(--primary-foreground);
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  background-color: var(--card);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  border-radius: 12px;
  padding: 32px 40px;
}
.signbtn-tab {
  background-color: var(--primary-foreground);
  border-radius: 6px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.sign-btn {
  border-radius: 3px;
  color: var(--accent-foreground);
  background-color: var(--primary-foreground);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  width: 152px;
  height: 32px;
  border: none;
}
.buttonActive {
  background: var(--primary);
  color: var(--accent);
}
.buttonInactive {
  font-weight: 400;
}
.signin-page,
.signup-page,
.reset-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title {
  color: var(--card-foreground);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.google {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 8px 12px;
  gap: 8px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
}
.google p {
  color: var(--secondary-foreground);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.border {
  background-color: var(--border);
  height: 1px;
}
.btn {
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-style: normal;
  line-height: 20px;
  padding: 8px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.invalid {
  color: var(--destructive);
  font-size: 12px;
  text-align: right;
}
.invalid-input {
  border: 1px solid var(--destructive) !important;
}

.password-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strength-bars {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 50%;
}
.strength-bars div {
  height: 5px;
  width: 33%;
  margin: 2px;
  border-radius: 6px;
}
.strength-bars div.active {
  background-color: var(--accent-foreground);
}
.strength-bars div.inactive {
  background-color: var(--muted-foreground);
}
.checkbox-consent {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid var(--muted-foreground);
  border-radius: 3px;
  background-color: var(--secondary);
  position: relative;
}
.check-tick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.terms-condition {
  color: var(--muted);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.span-terms-condition {
  color: var(--primary);
}
.input-field {
  border: 1px solid var(--border);
  background: var(--input);
  color: var(--muted);
  border-radius: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.mail-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.link-button {
  text-decoration: none;
}
.password-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.password-input {
  display: flex;
  justify-content: space-between;
}
.pass-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.eye-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  stroke: var(--foreground);
}
.pageNum {
  color: var(--muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.page {
  color: var(--secondary-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.reset-title {
  color: var(--card-foreground);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
  text-align: left;
}
.instructions {
  color: var(--muted);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.reset-boldText {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--card-foreground);
}
.input-messages {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: var(--muted);
}
.code-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.code-box {
  display: flex;
  gap: 24px;
}
.code-box input {
  border: 1px solid var(--border);
  color: var(--muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 6px;
  padding: 24px;
  width: 62px;
  height: 48px;
}
/* HomePage */
.dashboard-container {
  background-color: var(--primary-foreground);
  width: 100%;
  align-self: stretch;
  display: flex;
  gap: 24px;
  padding: 16px;
  min-height: calc(100vh - 70px);
}
.projects-menu {
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--zinc-100);
  background-color: var(--neutral-50);
}
.menu-heading {
  display: flex;
  padding: 4px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.menu-heading p {
  color: var(--zinc-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 4px;
}
.project-menu-items {
  border-top: 1px solid var(--zinc-100);
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.project-menu-items .menu-item {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  color: var(--zinc-500);
}
.project-menu-items .menu-item:hover {
  background: var(--zinc-100);
  color: var(--zinc-700);
}
.workspace-menu-items {
  border-top: 1px solid var(--zinc-100);
  border-bottom: 1px solid var(--zinc-100);
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.workspace-menu-items .menu-item {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  color: var(--zinc-500);
}
.clicked {
  background: var(--zinc-100);
  color: var(--zinc-700);
}
.work-icon,
.work-icon-grid {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--zinc-50);
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.work-icon.demo,
.size-icon.demo,
.work-icon-grid.demo {
  background-color: #e9c64a;
}

.work-icon.projectx,
.size-icon.projectx,
.work-icon-grid.projectx {
  background-color: #18b6aa;
}

.work-icon.pantomfx,
.size-icon.pantomfx,
.work-icon-grid.pantomfx {
  background-color: #ac4bfb;
}

.work-icon.excrin,
.size-icon.excrin,
.work-icon-grid.excrin {
  background-color: #ea4335;
}
.new-menu-item {
  cursor: pointer;
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
}
.new-menu-item:hover {
  background: var(--zinc-100);
}
.new-menu-item p {
  color: var(--zinc-500);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  flex: auto;
}
.new-menu-item span {
  color: var(--zinc-300);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.logout-menu {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: auto;
}
.logout-menu .logout-text {
  color: var(--zinc-500);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 161px;
}

.dashboarddiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}
.welcome-msg {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dashboard-title {
  color: var(--zinc-800);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.144px;
}
.greeting {
  color: var(--zinc-600);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.workspace-popup-content {
  width: 510px;
  border-radius: 20px;
  border: 1px solid var(--zinc-500);
  background: var(--neutral-50);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--zinc-200);
}
.dot-active {
  background-color: var(--zinc-800);
}
.popup-slider {
  display: flex;
  gap: 4px;
  justify-content: center;
}
.popup__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.006em;
  text-align: center;
  color: var(--zinc-800);
}
.email-input-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.email__input {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.email__input > div {
  display: flex;
  gap: 6px;
  flex: 1 0 0;
  padding: 8px 56px 8px var(--Spacings-sp-3, 12px);
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
}
.email__input input {
  color: var(--zinc-300);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.btn-invite {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--zinc-800);

  color: var(--zinc-100);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.email__checbox {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.email__checbox p {
  color: var(--zinc-500);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.copy-invite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
.copy-invite__heading {
  color: var(--zinc-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.copy-invite__input {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.copy-invite__input > div {
  display: flex;
  flex: 1 0 0;
  padding: 8px 56px 8px var(--Spacings-sp-3, 12px);
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
}
.copy-invite__input input {
  color: var(--zinc-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.copy-invite__copy-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: var(--zinc-800);
  border: none;

  color: var(--zinc-100);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.btn-skip-continue {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.btn__skip {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--zinc-50);

  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.btn__continue {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 1px solid var(--custom-button-border);
  background-color: var(--zinc-800);

  color: var(--card);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.upload-space {
  display: flex;
  padding: 48px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  /* border: 1px dashed var(--zinc-900); */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='18' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  background-color: var(--zinc-50);
}
.upload-space__btn-browse {
  display: flex;
  width: 108px;
  height: 36px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background-color: var(--zinc-50);

  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.upload-space__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.upload-space__file-info {
  color: var(--zinc-400);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}
.upload-space__instructions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.upload-space__click {
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
.upload-space__drag {
  color: var(--zinc-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.dashboard-folders {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.dashboard-folder {
  background-color: var(--neutral-50);
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--zinc-200);
}
.folder-icon {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--zinc-100);
}
.dashboard-folder-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.dashboard-folder-name-assets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.dashboard-folder-name-assets .name {
  color: var(--zinc-800);
  align-self: stretch;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;

  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.comments {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 0.2px solid var(--zinc-300, #d4d4d8);
  background: conic-gradient(
    from 88deg at 50% 50%,
    rgba(1, 113, 203, 0.2) 0deg,
    rgba(236, 170, 1, 0.2) 122.43750929832458deg,
    rgba(250, 127, 45, 0.2) 236.02475881576538deg,
    rgba(182, 0, 218, 0.2) 360deg
  );
  color: var(--zinc-800);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.dashboard-folder-name-assets .assets {
  align-self: stretch;
  color: var(--zinc-800);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.progress-bar-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.progress {
  height: 6px;
  border-radius: 40px;
  background: var(--zinc-800);
  flex-shrink: 0;
}
.progress-bar {
  border-radius: 40px;
  background: var(--zinc-100);
  height: 6px;
  flex-shrink: 0;
  width: 100%;
}
.progress-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.folder-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--zinc-100);
  height: 1px;
}
.folder-view {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.recent-files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 12px;
}
.recent-files-view {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.recent-files-view p {
  color: var(--zinc-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  flex: 1 0 0;
}
.grid-list-view {
  display: flex;
  padding: 4px 5px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--zinc-200);
  background: var(--neutral-50);
}
.grid-list-view div {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--neutral-50);
}
.grid-list-view div.active {
  background-color: var(--zinc-100) !important;
}
.recent-files-heading {
  display: flex;
  width: 100%;
  padding: 12px 8px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutral-50);
  display: flex;
  gap: 16px;
}
.recent-files-heading .assest-name {
  width: 35%;
  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.recent-files-heading .heading-icon {
  width: 21%;
  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.recent-files-heading .comment {
  width: 15%;
  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.heading-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}
.files {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.file {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--zinc-200);
  background: var(--neutral-50);
  gap: 16px;
}
.file:hover {
  border: 1px solid var(--zinc-600);
}
.file-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-img img {
  border-radius: 4px;
  width: 100px;
}
.file .hover-icon {
  opacity: 0;
}
.file:hover .hover-icon {
  opacity: 1;
}
.hover-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.recent-files-heading-grid {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.file-grid {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--zinc-200);
  background: var(--neutral-50);
}
.file-grid:hover {
  border: 1px solid var(--zinc-800);
}
.file-grid .file-img {
  display: flex;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
}
.file-grid .file-img img {
  width: 100%;
  height: 160px;
  border-radius: 4px;
}
.file-grid .file-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.file-grid .file-edited-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.file-grid .file-edited-comment .file-edited {
  display: flex;
  width: 139px;
  align-items: center;
  gap: 8px;
}
.file-grid .work-icon {
  display: none;
}
.storage-details {
  width: 19%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.storage-title {
  color: var(--zinc-700);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.storage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--zinc-50);
  background: var(--neutral_50);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
  padding-bottom: 32px;
  background-color: var(--neutral-50);
}
.upgrade {
  border-radius: 16px;
  background: var(--zinc-800);
  width: 89%;
  height: 100px;
  display: flex;
  position: relative;
}
.upgrade div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  color: var(--neutral-50);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.upgrade .content {
  padding: 12px;
}
.upgrade button {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: var(--neutral-50);
  color: var(--zinc-900);
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.right-upgrade {
  margin-top: 15px;
}
.workspace-size {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
.border-storage {
  height: 1px;
  background-color: var(--zinc-200);
  width: 100%;
}
.workspace-size div {
  display: flex;
  align-items: center;

  gap: 9px;
  justify-content: space-between;
}
.workspace-size .name {
  color: var(--zinc-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 139px;
}
.workspace-size .size {
  color: var(--zinc-500);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.size-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.total-size {
  color: var(--zinc-900);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.size-chart {
  width: 175px;
  height: 175px;
  margin-top: 24px;
}
.workspace-files {
  width: 79%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.workspace-files-view {
  display: flex;
  align-items: center;
  gap: var(--Spacings-sp-4, 16px);
  align-self: stretch;
}
.workspace-files-view p {
  flex: 1 0 0;
  color: var(--zinc-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.newworkspace {
  width: 79%;

  display: flex;
  flex-direction: column;
  gap: 200px;
}
.newworkspace-header {
  display: flex;
  height: 64px;
  padding: var(--Spacings-sp-4, 16px);
  align-items: center;
  gap: var(--Spacings-sp-4, 16px);
  flex-shrink: 0;
  border-radius: var(--Spacings-sp-3, 12px);
  background: var(--neutral-50);
}
.newworkspace-header__letter {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.4px;
  background: var(--zinc-700, #3f3f46);
  color: var(--zinc-50, #fafafa);
  text-align: center;
  font-family: Sora;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.newworkspace-header__name {
  flex: 1 0 0;
  color: var(--zinc-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.144px;
}
.newworkspace-header__upload {
  display: flex;
  width: 108px;
  height: 36px;
  padding: 8px var(--Spacings-sp-3, 12px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--zinc-50);
}
.newworkspace-header__upload-text {
  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.newworkspace-header__share-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: var(--zinc-800);

  color: var(--zinc-50);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.newworkspace-header__comment,
.newworkspace-header__option-icon {
  display: flex;
  align-items: center;
}
.welcome-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 71px;
}
.welcome-message__greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacings-sp-4, 16px);
}
.welcome-message__greeting-text {
  color: var(--zinc-800);
  text-overflow: ellipsis;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.welcome-message__greeting-welcome {
  color: var(--zinc-800);
  text-overflow: ellipsis;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.welcome-message__greeting-instruction {
  color: var(--zinc-400, #a1a1aa);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.welcome-message__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacings-sp-6, 24px);
}
.welcome-message__action {
  display: flex;
  width: 485px;
  padding: var(--Spacings-sp-6, 24px);
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--zinc-200, #e4e4e7);
  background: var(--neutral-50);
}
.welcome-message__action-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.welcome-message__action-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.welcome-message__action-title {
  align-self: stretch;
  color: var(--zinc-800, #27272a);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.welcome-message__action-description {
  align-self: stretch;
  color: var(--zinc-800, #27272a);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.workspace-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.asset-grid-icon {
  border-radius: 2px;
  display: flex;
  width: var(--Spacings-sp-4, 16px);
  height: var(--Spacings-sp-4, 16px);
  padding: 1.286px 5px 1.714px 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--neutral-50);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dropdown-container {
  display: flex;
  gap: 4px;
  position: relative;
}
.dropdown-container label {
  color: var(--zinc-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.dropdown-container select {
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
  background-color: var(--zinc-50);
  appearance: none;
  padding-right: 30px;
}
.dropdown-container select:focus {
  outline: none;
}
.dropdown-container select option {
  font-size: 13px;
  outline: none;
}
.dropdown-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("./icons/dropdown-icon.svg");
}
.workspace-files-asset {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.workspace-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.workspace-list .file-title,
.file-edited,
.file-created {
  width: 24%;
  text-overflow: ellipsis;
}
.workspace-list .file-comment {
  width: 98px;
}
.workspace-files-assetlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.workspace-files-assetlist .assest-name {
  width: 36%;
}
.workspace-files-assetlist .last-modified {
  width: 24%;
}
.workspace-files-assetlist .created {
  width: 24%;
}
.workspace-files-assetlist .file-editedlist,
.file-createdlist {
  width: 24% !important;
  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.workspace-files-assetlist .file-commentlist {
  width: 11%;
  color: var(--zinc-400);
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.file-title {
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 21.5%;
}
.file-created,
.file-edited {
  color: var(--zinc-400);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  width: 21%;
}
.file-comment {
  color: var(--zinc-400);
  width: 11.6%;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
/* Artboard */
.artboard-container {
  background-color: var(--zinc-50);
  display: flex;
  gap: 12px;
  padding: 16px 34px;
}
.artboard-container-vdo {
  display: flex;
  width: 75%;
  /* width: 71%; */
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.artboard-container-vdo__backicon-filename {
  display: flex;
  gap: 12px;
  align-items: center;
}
.artboard-container-vdo__filename {
  color: var(--zinc-900);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.artboard-container-vdo__backicon-filename .icon {
  display: flex;
  align-items: center;
}
.artboard-container-vdo__videofile {
  width: 100%;
}
.artboard-container-vdo__videofile video {
  width: 100%;
  border-radius: 24px;
}
.artboard-container-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.artboard-container-share {
  display: flex;
  gap: 14px;
  height: 40px;
}
.artboard-container-share__btn {
  display: flex;
  padding: 8px var(--Spacings-sp-6, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--custom-button-border, rgba(255, 255, 255, 0.1));
  background: var(--button-background);
  color: var(--button-text);
  /* width: 24%; */
}
.artboard-container-share__user-group {
  display: flex;
  padding: 5.833px 8.75px;
  justify-content: center;
  align-items: center;
  /* width: 21%; */
  padding: 8px 13px;
  align-self: stretch;
  border-radius: 8px;
  border: 0.729px solid var(--zinc-400);
  gap: 6px;
  color: var(--zinc-900);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.status-dropdown {
  flex: auto;
  position: relative;
}
.status-dropdown__select-arrow {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--slate-300);
  background: var(--neutral-50);
}
.status-dropdown__select {
  flex: 1 0 0;
  color: var(--zinc-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.status-dropdown__arrow {
  display: flex;
  align-items: center;
}
.status-dropdown .menu {
  display: flex;
  padding: 8px 5px 5px 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: var(--neutral-50);
  border-radius: 6px;
  list-style: none;
  z-index: 1;
}
.status-dropdown .menu li {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.menu .status-item .tick-icon {
  visibility: hidden;
}
.menu .status-item:hover .tick-icon {
  visibility: visible;
}
.artboard-container-comments_info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.artboard-container-comments_info-tab {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--zinc-200);
}
.artboard-container-comments_info-tab > div {
  display: flex;
  width: 35%;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--neutral-50);
  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.tabactive {
  border-radius: 3px;
  background-color: var(--zinc-700) !important;
  color: var(--neutral-50) !important;
}
.comments_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacings-sp-3, 12px);
}
.comments_section__filters {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.comments_section__search-filter {
  display: flex;
  /* width: 68%; */
  flex: auto;
  padding: var(--Spacings-sp-3, 12px) 20px;
  align-items: center;
  gap: var(--Spacings-sp-3, 12px);
  border-radius: 8px;
  background: var(--zinc-100);
}
.comments_section__search-filter input {
  background: var(--zinc-100);
  border: none;
}
.comments_section__search-filter input:focus {
  outline: none;
}
.comments_section__filter-icon {
  width: 44px;
  height: 43.022px;
}
.comments_section__comment-container {
  display: flex;
  gap: var(--Spacings-sp-3, 12px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 290px);
}
.comments-section__comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 97%;
}
.comments_section__comment-container::-webkit-scrollbar {
  width: 8px;
}
.comments_section__comment-container::-webkit-scrollbar-thumb {
  background-color: var(--zinc-800);
  border-radius: 16px;
}
.comments_section__comment-container::-webkit-scrollbar-track {
  background-color: var(--zinc-200);
  border-radius: 16px;
}
.comments-section__comment {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--zinc-100);
  background: var(--neutral-50);
}
.comments-section__user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.comments-section__user-name {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.comments-section__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.comments-section__time-time {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #cde4fe;
  color: #023876;
}
.comments-section__time-sec {
  color: var(--zinc-400);
}
.comments-section__text {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--zinc-100);
  overflow: hidden;
  width: 100%;
}
.comments-section__text p {
  color: var(--zinc-900);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.dotted-line {
  height: 1px;
  width: 100%;
  border: none;
  border-top: 1px dashed var(--zinc-300);
}
.comments-section__reply-resolve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.comments-section__reply {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00b8a8;
}
.comments-section__resolve {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--zinc-900);
}
.file-info {
  display: flex;
  width: 100%;
  padding: 12px;
  flex-direction: column;
  gap: 14px;
  border-radius: 8px;
  background: var(--neutral-50);
}
.file-info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.file-info__heading {
  color: var(--zinc-600);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.file-info__value {
  color: var(--zinc-900);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.file-info__value-filename {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--neutral-50);
}
.version-control {
  display: flex;
  width: 100%;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  flex: 1 0 0;
  border-radius: 12px;
  background: var(--neutral-50);
}
.version-control__heading {
  display: flex;
  padding: 7px 0px;
  align-items: center;
  align-self: stretch;
  gap: 12px;
}
.version-control__heading p {
  flex: 1 0 0;
  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.version-control__versions {
  display: flex;
  padding: 0px 12px 12px 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
}
.version-control__version-list {
  display: flex;
  align-items: center;
  gap: var(--Spacings-sp-6, 24px);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.version-control__version-list-item {
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: var(--Spacings-sp-6, 24px);
  align-self: stretch;
  list-style: none;
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.version-control__versions::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 18px;
  top: 18px;
  width: 1px;
  height: 90%;
  background: var(--zinc-400);
}
.step-progress {
  z-index: 2;
}
.version-control__version-time {
  display: flex;
  padding: 0px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.version-control__version-time li {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.version-control__version-time li .time {
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.version-control__version-time li .name {
  color: #2d4153;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.version-control__version-time li .version_userdetail {
  display: flex;
  gap: 11px;
  align-items: center;
}
/* Modal */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/* --artboardShare-popup-- */
.artboard-popup-content {
  display: flex;
  width: 45%;
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--zinc-500);
  background: var(--neutral-50);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}
.artboard-popup-share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.artboard-popup-share__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.artboard-popup-share__heading p {
  color: var(--zinc-900);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.artboard-popup-share__subheading p {
  color: var(--zinc-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.artboard-popup-comments {
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--neutral-50);
}
.artboard-popup-comments__email {
  display: flex;
  padding: 10.5px;
  align-items: center;
  gap: 10.5px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--neutral-50);
}
.artboard-popup-comments__email ::placeholder {
  color: var(--zinc-800);
}
.artboard-popup-comments__remark {
  display: flex;
  height: 149px;
  padding: 10.5px;
  align-items: flex-start;
  gap: 10.5px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--neutral-50);
}
.artboard-popup-comments__remark ::placeholder {
  color: var(--zinc-800);
}
.artboard-popup-comments__users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.artboard-popup-comments__users p {
  color: var(--zinc-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.artboard-popup-linkShare {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.artboard-popup-linkShare__link {
  display: flex;
  padding: 10.5px;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--zinc-300);
  background: var(--neutral-50);
}
.artboard-popup-linkShare__link .link {
  flex: 1 0 0;
  color: var(--zinc-800);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.artboard-popup-linkShare__share button {
  display: flex;
  width: 100px;
  padding: 12px 17.5px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  background: var(--zinc-900);
  color: var(--neutral-50);
  border: none;
}
.artboard-popup-comments__users-images {
  display: flex;
  gap: 3px;
}
