:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #fafafa;
  --secondary-foreground: #18181b;
  --muted: #a1a1aa;
  --muted-foreground: #e4e4e7;
  --accent: #fafafa;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #d4d4d8;
  --input: #ffffff;
  --ring: #18181b;

  --button-background: #27272a;
  --button-border: rgba(255, 255, 255, 0.1);
  --button-text: #fafaf5;
}

.dark-theme {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #ffffff;
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --secondary: #18181b;
  --secondary-foreground: #fafafa;
  --muted: #71717a;
  --muted-foreground: #3f3f46;
  --accent: #18181b;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #52525b;
  --input: #09090b;
  --ring: #d4d4d8;

  --button-background: #27272a;
  --button-border: rgba(255, 255, 255, 0.1);
  --button-text: #fafaf5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
.svg-icon path {
  stroke: var(--foreground);
}
.header {
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
}
.header-help {
  display: flex;
  align-items: center;
  gap: 8px;
}
.help-text {
  color: var(--foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.outer-container {
  background-color: var(--primary-foreground);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container {
  background-color: var(--card);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  border-radius: 12px;
  padding: 32px 40px;
}
.signbtn-tab {
  background-color: var(--primary-foreground);
  border-radius: 6px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.sign-btn {
  border-radius: 3px;
  color: var(--accent-foreground);
  background-color: var(--primary-foreground);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  width: 152px;
  height: 32px;
  border: none;
}
.buttonActive {
  background: var(--primary);
  color: var(--accent);
}
.buttonInactive {
  font-weight: 400;
}
.signin-page,
.signup-page,
.reset-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title {
  color: var(--card-foreground);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.google {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 8px 12px;
  gap: 8px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
}
.google p {
  color: var(--secondary-foreground);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.border {
  background-color: var(--border);
  height: 1px;
}
.btn {
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-style: normal;
  line-height: 20px;
  padding: 8px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
}
.invalid {
  color: var(--destructive);
  font-size: 12px;
  text-align: right;
}
.invalid-input {
  border: 1px solid var(--destructive) !important;
}
.password-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strength-bars {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 50%;
}
.strength-bars div {
  height: 5px;
  width: 33%;
  margin: 2px;
  border-radius: 6px;
}
.strength-bars div.active {
  background-color: var(--accent-foreground);
}
.strength-bars div.inactive {
  background-color: var(--muted-foreground);
}
.checkbox-consent {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid var(--muted-foreground);
  border-radius: 3px;
  background-color: var(--secondary);
  position: relative;
}
.check-tick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.terms-condition {
  color: var(--muted);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.span-terms-condition {
  color: var(--primary);
}
.input-field {
  border: 1px solid var(--border);
  background: var(--input);
  color: var(--muted);
  border-radius: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
input {
  border: none;
  background: var(--input);
  color: var(--card-foreground);
}
input:focus {
  outline: none;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.mail-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.forgot-pass-link {
  text-decoration: none;
}
.password-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.password-input {
  display: flex;
  justify-content: space-between;
}
.pass-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.eye-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  stroke: var(--foreground);
}
.pageNum {
  color: var(--muted, #a1a1aa);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.page {
  color: var(--secondary-foreground);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.reset-title {
  color: var(--card-foreground);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.1px;
  text-align: left;
}
.instructions {
  color: var(--muted);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.reset-boldText {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--card-foreground);
}
.input-messages {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: var(--muted);
}
.code-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.code-box {
  display: flex;
  gap: 24px;
}
.code-box input {
  border: 1px solid var(--border);
  color: var(--muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 6px;
  padding: 24px;
  width: 62px;
  height: 48px;
}
